

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter name", required: true %>
  <span class="help-block"><i>* <%= t('validation.required_field')%></i><span>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control", placeholder: "Enter lastname" %>
  <span class="help-block"><i>* <%= t('validation.required_field')%></i><span>
</div>

<div class="form-group">
  <%= f.label "Estado" %>
  <%= f.select :status, [['Activo', 1], ['Inactivo', 0], ['Suspendido', 2]], { :include_blank => true }, {:class => "form-control"} %>
</div>


<h3>Contactos</h3>

<%= f.nested_fields_for :contact_informations do |ff2| %>
  
  <%= ff2.remove_nested_fields_link "Eliminar este contacto" %> <br>

  <div class="form-group">
    <%= ff2.label :description %>
    <%= ff2.text_field :description, class: "form-control", placeholder: "Enter description" %>
  </div>

  <div class="form-group">
    <%= ff2.label "Email" %>
    <%= ff2.email_field :email, class: "form-control", placeholder: "Enter email" %>
  </div>

  <div class="form-group">
    <%= ff2.label :phone %>
    <%= ff2.text_field :phone, class: "form-control", placeholder: "Enter phone" %>
  </div>

  <div class="form-group">
    <%= ff2.label "Notificaciones" %>
    <%= ff2.select :receives_emails, [['Recibe notificaciones', 1], ['No recibe notificaciones', 0]], { :include_blank => false }, {:class => "form-control"} %>
  </div>
  <hr>
<% end %>

<%= f.add_nested_fields_link :contact_informations %>

<hr>

<h3>Subscripciones</h3>
<%= f.nested_fields_for :subscriptions do |ff| %>
  
  <%= ff.remove_nested_fields_link "Eliminar esta suscripción" %> <br>

  <div class="form-group">
    <%= ff.label "Select subscription" %>
    <%= ff.select :asignature_id, options_from_collection_for_select(Asignature.all, "id", "name", ff.object.asignature_id), {:include_blank => true}, {:class => "form-control"}  %>
  </div>

  <div class="form-group">
    <%= ff.label "Estado" %>
    <%= ff.select :status, [['Activo', 1], ['Inactivo', 0], ['Suspendido', 2]], { :include_blank => true }, {:class => "form-control"} %>
  </div>

  <hr>
<% end %>

<%= f.add_nested_fields_link :subscriptions %>
