<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="box-title"><%= t('admin.students.index.title') %></h3>
			</div>

			<div class="panel-body">
				<p>
					<strong><%= t('activerecord.attributes.students.name') %>:</strong>
					<%= @student.full_name %>
				</p>

				<p>
					<strong>Subscriptions:</strong><br>
					<% @student.subscriptions.each do |subscription| %>
					<%= subscription.description %> <br>
					<% end %>
				</p>

				<%= link_to raw('<i class="fa fa-pencil"></i>'), edit_owner_student_url(@student), class: 'btn btn-sm btn-warning' %>

				<%= link_to raw('<i class="fa fa-trash"></i>'), owner_student_url(@student), class: 'btn btn-sm btn-danger', method: :delete,
                                            data: { confirm: t('admin.students.destroy.warning')} %>

                <hr>
                <h3>Pagos</h3>

                <table class="table table-bordered table-striped">
                	<thead>
			            <tr>
			              <th>Mes</th>
			              <th>Estado</th>
			              <th>Valor</th>
			              <th>Acciones</th>
			            </tr>
		          	</thead>

		          	<tbody>
		          		<% @student.fees.order(month: :desc).each do |fee| %>
		          		<tr>
		          			<td><%= fee.month %></td>
		          			<td><%= fee.status %></td>
		          			<td><%= fee.total_to_pay %></td>
		          			<td><%= link_to raw('<i class="fa fa-ok"></i>'), owner_student_pay_fee_url(@student, fee), class: 'btn btn-sm btn-warning' %></td>
		          		</tr>
		          		<% end %>
		          	</tbody>
                </table>
			</div>

			<div class="box-footer">
				<%= link_to t('button.back'), owner_students_path, class: 'btn btn-success' %>
			</div>

		</div>
	</div>
</div>