<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="box-title"><%= t('admin.institutions.index.title') %></h3>
			</div>

			<div class="panel-body">
				<p>
					<strong><%= t('activerecord.attributes.institutions.name') %>:</strong>
					<%= @institution.name %>
				</p>

				<p>
					<strong><%= t('activerecord.attributes.institutions.institution_owner') %>:</strong>
					<%= @institution.institution_owner.email %>
				</p>

				<%= link_to raw('<i class="fa fa-pencil"></i>'), edit_owner_student_path(@institution), class: 'btn btn-sm btn-warning' %>

				<%= link_to raw('<i class="fa fa-trash"></i>'), owner_student_path(@institution), class: 'btn btn-sm btn-danger', method: :delete,
                                            data: { confirm: t('admin.institutions.destroy.warning') } %>
			</div>

			<div class="box-footer">
				<%= link_to t('button.back'), owner_students_path, class: 'btn btn-success' %>
			</div>

		</div>
	</div>
</div>