<%= form_for @user, url: @url, role: :form, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="box-title">Edit User</h3>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email", required: true %>
            <span class="help-block"><i>* <%= t('validation.required_field')%></i><span>
          </div>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", placeholder: "Enter name", required: true %>
            <span class="help-block"><i>* <%= t('validation.required_field')%></i><span>
          </div>

          <% for role in User::ROLES %>
            <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
            <%= label_tag "user_roles_#{role}", role.humanize %><br />
          <% end %>
          <%= hidden_field_tag "user[roles][]", "" %>

          <%= link_to 'Edit Password', admin_user_edit_password_path, class: 'btn btn-warning' %>

        </div>

        <div class="box-footer">
          <%= link_to t('button.cancel'), admin_users_path, class: 'btn btn-danger' %>
          <%= f.submit t('button.submit'), class: "btn btn-success" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
